.home-background {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
}
.home__title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}
